{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}
{% from 'admin/lib.html' import extra with context %} {# backward compatible #}

{% block head %}
  {{ super() }}
  {{ lib.form_css() }}
{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>{{ model }} <small>{{ model.id }}</small></h1>
  {% block navlinks %}
        {% endblock %}
        {% block breadcrumb %}
            <ol class="breadcrumb">
                <li><a href="{{ admin_view.admin.index_view.url }}"><i class="fa fa-home"></i>{{ _gettext('Home') }}</a></li>
                <li><a href="{{ return_url or admin_view.url }}"><i class="fa fa-list"></i>{{ admin_view.name }}</a></li>
				<li class="active">{{ _gettext('Edit') }} {{ model }}</li>
            </ol>
        {% endblock %}
    </section>
    <section class="content">

  {% block edit_form %}
    {{ lib.render_form(form, return_url, extra(), form_opts) }}
  {% endblock %}
    </section>
{% endblock %}

{% block tail %}
  {{ super() }}
  {{ lib.form_js() }}
{% endblock %}
